[submodule "packages/knowfox/core"]
	path = packages/knowfox/core
	url = git@github.com:knowfox/core
[submodule "packages/knowfox/passwordless"]
	path = packages/knowfox/passwordless
	url = git@github.com:knowfox/passwordless
[submodule "packages/knowfox/lab"]
	path = packages/knowfox/lab
	url = git@github.com:knowfox/lab
