
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://cdn.jsdelivr.net/font-hack/2.020/css/hack-extended.min.css);
@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// SimpleMDE
@import "node_modules/simplemde/dist/simplemde.min";

// Selectize
@import "node_modules/selectize/dist/css/selectize";
@import "node_modules/selectize/dist/css/selectize.bootstrap3";

@import "node_modules/dropzone/dist/min/dropzone.min";

@import "node_modules/concord/concord";

@import "node_modules/jquery-ui/themes/base/autocomplete";

@import "node_modules/jquery-resizable/resizable";

html {
    background: url('/img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* Sticky footer */
    position: relative;
    min-height: 100%;
}

body {
    background-color: transparent;

    /* Sticky footer
       Margin bottom by footer height */
    margin-bottom: 60px;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0.9);
}

main {
    background-color: rgba(245, 248, 250, 0.8);
    padding-bottom: 20px;

    img {
        max-width: 100%;
    }

    .nav.nav-tabs {
       margin-bottom: 0;
    }

    section.body {
        background-color: white;
        padding: 20px 16px;
        border-left: 1px solid #ddd;
    }
}

h1 i.glyphicon {
    vertical-align: bottom;
}

p.summary {
    font-weight: bold;
    font-size: 1.1em;
}

.dropzone {
    border: none;
    background-color: rgba(245, 248, 250, 0.8);
    padding: 0 15px;
}

.dropzone.dz-drag-hover {
    border: dashed 4px #CCC;
}

.nav-tabs {
    margin-bottom: 20px;
}

.divOutlinerContainer {
    margin-left: auto;
    margin-right: auto;
    border:1px solid gainsboro;
    min-height: 300px;
    max-height: 500px;
    overflow: auto;
    padding: 6px;
    background-color: white;
}

.home.container {
    margin-top: 100px;
}

ul.ui-autocomplete {
    z-index: 1001;
    background: white;
    border: solid 1px #EEE;
    list-style-type: none;
    padding: 0 12px;
}

@media (min-width: $screen-sm-min) {
    .not-home .collapse.navbar-collapse {
        display: flex !important;
    }

    .navbar-form {
        flex-grow: 1;

        .input-group {
            width: 100%;
        }
    }
}

@media (max-width: $screen-sm-max) {
    .desktop-only {
        display: none;
    }
}

.meta .label {
    margin-left: 4px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;

    background-color: #f5f5f5;
    margin-top: 20px;

    .container .text-muted {
        margin: 20px 0;
    }
    .text-muted {
        color: #777;
    }
}

section.body table {
    @extend .table;
}

ul.letters {
    padding: 0;
    list-style-type: none;

    li {
        float: left;
        margin-left: 0.8em;
    }

    li:before {
        content: ' | ';
    }

    li:first-child:before {
        content: '';
    }
}

/* horizontal panel*/

.panel-container {
    display: flex;
    flex-direction: row;
    border: 1px solid silver;
    overflow: hidden;

    /* avoid browser level touch actions */
    xtouch-action: none;
}

.panel-left {
    flex: 0 0 auto;
    /* only manually resize */
    padding: 10px;
    width: 300px;
    min-height: 200px;
    min-width: 150px;
    white-space: nowrap;
    background: #838383;
    color: white;
}

.panel-right {
    flex: 1 1 auto;
    /* resizable */
    padding: 10px;
    width: 100%;
    min-height: 200px;
    min-width: 200px;
    background: #eee;
}

dt:after {
    content: ": ";
}

dd {
    margin-left: 16px;
}