
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// SimpleMDE
@import "node_modules/simplemde/dist/simplemde.min";

// Selectize
@import "node_modules/selectize/dist/css/selectize";
@import "node_modules/selectize/dist/css/selectize.bootstrap3";

@import "node_modules/dropzone/dist/min/dropzone.min";

html {
    background: url('/img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0.9);
}

main {
    background-color: rgba(245, 248, 250, 0.8);
    padding-bottom: 20px;
}

p.summary {
    font-weight: bold;
    font-size: 1.1em;
}

.dropzone {
    border: none;
    background-color: rgba(245, 248, 250, 0.8);
    padding: 0 15px;
}

.dropzone.dz-drag-hover {
    border: dashed 4px #CCC;
}