
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://cdn.jsdelivr.net/font-hack/2.020/css/hack-extended.min.css);
@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// SimpleMDE
@import "node_modules/simplemde/dist/simplemde.min";

// Selectize
@import "node_modules/selectize/dist/css/selectize";
@import "node_modules/selectize/dist/css/selectize.bootstrap3";

@import "node_modules/dropzone/dist/min/dropzone.min";

@import "node_modules/concord/concord";

@import "node_modules/jquery-ui/themes/base/autocomplete";

html {
    background: url('/img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* Sticky footer */
    position: relative;
    min-height: 100%;
}

body {
    background-color: transparent;

    /* Sticky footer
       Margin bottom by footer height */
    margin-bottom: 60px;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0.9);
}

main {
    background-color: rgba(245, 248, 250, 0.8);
    padding-bottom: 20px;

    img {
        max-width: 100%;
    }
}

p.summary {
    font-weight: bold;
    font-size: 1.1em;
}

.dropzone {
    border: none;
    background-color: rgba(245, 248, 250, 0.8);
    padding: 0 15px;
}

.dropzone.dz-drag-hover {
    border: dashed 4px #CCC;
}

.nav-tabs {
    margin-bottom: 20px;
}

.divOutlinerContainer {
    margin-left: auto;
    margin-right: auto;
    border:1px solid gainsboro;
    min-height: 300px;
    max-height: 500px;
    overflow: auto;
    padding: 6px;
    background-color: white;
}

.home.container {
    margin-top: 100px;
}

ul.ui-autocomplete {
    z-index: 1001;
    background: white;
    border: solid 1px #EEE;
    list-style-type: none;
    padding: 0 12px;
}

.not-home .collapse.navbar-collapse {
    display: flex !important;
}

.navbar-form {
    flex-grow: 1;

    .input-group {
        width: 100%;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;

    background-color: #f5f5f5;
    margin-top: 20px;

    .container .text-muted {
        margin: 20px 0;
    }
    .text-muted {
        color: #777;
    }
}

section.body table {
    @extend .table;
}
