
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// SimpleMDE
@import "node_modules/simplemde/dist/simplemde.min";

// Select2
@import "node_modules/select2/dist/css/select2.min";
@import "node_modules/select2-bootstrap-theme/dist/select2-bootstrap.min";


html {
    background: url('/img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0.9);
}

main {
    background-color: rgba(245, 248, 250, 0.8);
    padding-bottom: 20px;
}

p.summary {
    font-weight: bold;
    font-size: 1.1em;
}

section.actions {
    float: right;
    width: 33%;
    margin-left: 20px;

    ul {
        list-style-type: none;
        padding: 8px 15px;
        text-align: right;

        li {
            display: inline-block;
        }
    }
}

section.meta {
    border: solid 1px #CCC;
    border-radius: 4px;
    padding: 10px;

    float: right;
    width: 33%;
    margin-left: 20px;
    margin-bottom: 10px;
}